doctype html
html(lang="es")
    include ./partials/head.pug

    body
        main
            div#content-wrap
                h1 Sandbox
                include ./partials/welcomeBar.pug
                include ./partials/navbar.pug

                section.presentation
                    h2 Mi nombre es David Cu
                    p Bienvenido a mis evidencias de TC2005B con Node.js

            section.presentation
                h2 Enviar un dato a la base de datos:
                form(action="/guardar-dato" method="POST")
                    input(type="text" name="dato" required placeholder="Escribe algo...")
                    button(type="submit") Enviar

            section.presentation
                h2 Datos almacenados:
                if datos && datos.length
                    ul
                        each dato in datos
                            li= dato.dato
                else
                    p No hay datos almacenados todavía.


            include ./partials/footer.pug
        include ./partials/scripts.pug 

