nav
    p#menu Menú
    ul#menu-list
        li: a(href="/") Inicio
        li: a(href="/datos") Datos
        li: a(href="/pasatiempos") Pasatiempos
        li: a(href="/musica") Música
        li
            select(name="laboratorios" id="laboratorios")
                option(value="" disabled selected) Laboratorios
                option(value="/laboratorios/qLab1") 1 .- HTML
                option(value="/laboratorios/qLab3") 3 .- CSS
                // option(value="/laboratorios/qLab4") 4 .- JavaScript
                option(value="/laboratorios/qLab5") 5 .- Frameworks De Estilo
                option(value="/laboratorios/qLab12") 12 .- HTML dinámico
