div#master
    div#welcomeContainer
        p Bienvenido, #{nombre || "visitante"}
        if !nombre
            form(action="#" method="POST" onsubmit="guardarNombre(); return false;")
                button(type="submit") Iniciar sesión
